@charset "utf-8";

$h1-font-size: 2.5rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.3rem;
$h5-font-size: 1.15rem;
$h6-font-size: 1rem;

@import "bootswatch/dist/litera/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/litera/bootswatch";

footer {
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-top: 1.5rem;

  border-top: 1px dashed $hr-border-color;

  font-size: 75%;
}

.site-header {
  font-family: $font-family-serif;
  color: $body-color;

  & a, & a:hover, & a:visited, & a:active {
    color: $body-color;
    text-decoration: none;
  }
}

.page-header {
  font-size: 2rem;
  margin-bottom: 2rem;

  border-bottom: 1px dashed $hr-border-color;
}

.post-header {
  font-size: 2rem;
  margin-bottom: 2rem;

  border-bottom: 1px dashed $hr-border-color;

  & a, & a:hover, & a:visited, & a:active {
    color: $body-color;
    text-decoration: none;
  }
}

.post-list {
  .post-header {
    font-size: 1.8rem !important;
    margin-bottom: 0.5rem;
    border-bottom: none !important;
  }
}

.tag {
  text-transform: lowercase;

  a, a:hover, a:visited, a:active {
    text-decoration: none;
  }
}

.post {
  margin: 2rem;

  h2, h3 {
    font-size: $h4-font-size;
  }
}
