  <footer>
    Under most international copyright laws, recipes cannot be copyrighted (e.g., <a href="https://www.copyright.gov/help/faq/faq-protect.html">see here for the United States,</a> or <a href="https://legal-patent.com/international-intellectual-property/no-copyright-protection-taste-eu/">here for the E.U.</a>). If no author is given for a recipe, then that recipe was probably written by me, and should be considered <a href="https://creativecommons.org/publicdomain/zero/1.0/">Public Domain (CC0)</a>. If you would like your authorship of a given recipe credited, please e-mail <a href="mailto:charles@charlespence.net">charles@charlespence.net</a>.
  </footer>
</div>

{{- $bootstrap := resources.Get "bootstrap/dist/js/bootstrap.bundle.min.js" }}
{{- $js := slice $bootstrap | resources.Concat "js/main.js" }}
<script src="{{ $js.Permalink }}"></script>

{{- if and (isset .Params "search") .Params.search }}
{{- $gunzip := resources.Get "zlibjs/bin/gunzip.min.js" }}
{{- $lunr := resources.Get "lunr/lunr.min.js" }}
{{- $search := resources.Get "js/search.js" | js.Build (dict "params" (dict "baseurl" site.BaseURL)) | minify }}
{{- $extra := slice $gunzip $lunr $search | resources.Concat "js/extra.js" }}
<script src="{{ $extra.Permalink }}"></script>
{{- end }}
