<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{{block "title" .}}{{.Site.Title}}{{if not (eq .Title .Site.Title)}} — {{ .Title }}{{end}}{{end}}</title>

{{ $options := (dict "includePaths" (slice "node_modules")) }}
{{ $style := resources.Get "sass/main.scss" | toCSS $options | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

