{{ $paginator := .context.Paginate .pages }}
{{ range $index, $page := $paginator.Pages }}
<div class="row">
  <div class="col post-list">
    {{ partial "post" (dict "post" $page "list" true) }}

    {{ if not (eq (add $index 1) $paginator.NumberOfElements) }}
    <hr class="mt-4 mb-5">
    {{ end }}
  </div>
</div>
{{ end }}
{{ template "_internal/pagination.html" .context }}
