<ul class="nav nav-pills nav-fill">
{{- range .Site.Menus.main }}
{{- if .HasChildren }}
  <li class="nav-item dropdown">
    {{- $active := false }}
    {{- range .Children }}
    {{- $path := printf "/%s/" (.Identifier | urlize) }}
    {{- if (or (in $.Params.categories .Identifier) (in $.Permalink $path)) }}
    {{- $active = true }}
    {{- break }}
    {{- end }}
    {{- end }}
    <a class="nav-link dropdown-toggle{{ if $active }} active{{ end }}" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ .Name }}</a>
    <ul class="dropdown-menu">
      {{- range .Children }}
      <li><a class="dropdown-item" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{- end }}
    </ul>
  </li>
{{- else }}
{{- $path := printf "/%s/" (.Identifier | urlize) }}
  <li class="nav-item">
    <a class="nav-item nav-link{{ if (or (in $.Params.categories .Identifier) (in $.Permalink $path)) }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a>
  </li>
{{- end }}
{{- end }}
</ul>
