{{- range (.GetTerms "categories") }}
<a class="tag btn btn-secondary btn-sm" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
{{- end }} {{- range (.GetTerms "tags") }}
<a class="tag btn btn-primary btn-sm" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
{{- end }}
