{{- $largestFontSize := 2.5 }}
{{- $smallestFontSize := 1.0 }}
{{- $fontSpread := sub $largestFontSize $smallestFontSize }}
{{- $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
{{- $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
{{- $spread := sub $max $min }}
{{- $fontStep := div $fontSpread $spread }}

<h3>Tags</h3>
<span class="tag">
  {{- range $name, $taxonomy := $.Site.Taxonomies.tags }}
    {{- $currentTagCount := len $taxonomy.Pages }}
    {{- $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep)) }}
    {{- $weight := div (sub (math.Log $currentTagCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
    {{- $currentFontSize := (add $smallestFontSize (mul $fontSpread $weight)) }}
    {{- $tagPage := $.Site.GetPage (printf "tags/%s" $name) }}

    <a href="{{ $tagPage.Permalink }}" style="font-size: {{ $currentFontSize }}rem">{{ $name }}</a>
  {{- end }}
</span>
