{{ define "main" }}
<div class="row">
  <div class="col-lg-8">
    <h1 class="page-header">All Recipes</h1>

    {{- partial "list" (dict "context" $ "pages" (where site.RegularPages "Type" "eq" "posts")) }}
  </div>

  <div class="col-lg-4">
    {{- partial "tag-cloud" $ }}
  </div>
</div>

{{ end }}
