---
url: "/search/"
search: true
---

<h3>Search</h3>

<p>To search for recipes, type in the search bar below. Require that a term appear in your results with plus (e.g., <code>chili +green</code>) or forbid it with minus (e.g., <code>chili -bean</code>). You can limit your search to recipes in a category by typing <code>+category:main-course</code>, or for tags by typing <code>+tags:zucchini</code>.</p>

<form>
  <div class="form-group">
    <input type="text" class="form-control" id="search-box" placeholder="Search..." disabled>
  </div>
</form>

<div id="search-results">
</div>

